/* 通用样式 */
#plugin-add-all a {
  text-decoration: underline;
  color: rgb(162, 192, 247);
}

/* 通用提示 */
#plugin-tips {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: rgba(0, 0, 0, .5);
  border-radius: 15px;
  min-width: 100px;
  min-height: 40px;
  padding: 5px 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: tipsAni 2s linear;
}

#plugin-tips a {
  font-size: 14px;
  margin-left: 5px;
}

#plugin-tips .isColor {
  width: 30px;
  height: 20px;
  display: block;
  margin-left: 8px;
}

@keyframes tipsAni {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#plugin-add-all .pop-common {
  position: fixed;
  z-index: 100001;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#plugin-add-all .pop-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: linear 0.4s;
}

#plugin-add-all .pop-common.pop-show .pop-cover {
  opacity: 0.7;
}

/* 备忘提示弹窗 */
#plugin-add-all .remind-pop .pop-main {
  position: absolute;
  z-index: 10;
  width: 500px;
  min-height: 150px;
  padding-bottom: 80px;
  left: 50%;
  top: 50%;
  margin: -250px 0 0 -250px;
  background: #fff;
  border-radius: 20px;
  transform: scale(0);
  transition: linear 0.4s;
}

#plugin-add-all .remind-pop .pop-main h3 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #d35f00;
  margin: 20px 0 40px;
  word-break: break-all;
}

#plugin-add-all .remind-pop .pop-main p {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000;
  width: 90%;
  margin: 0 auto;
  word-break: break-all;
}

#plugin-add-all .remind-pop .pop-main .remind-pop-btn-confirm {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -60px;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #2983e9;
  color: #fff;
  border-radius: 6px;
}

#plugin-add-all .remind-pop .pop-main .remind-pop-btn-confirm:hover {
  filter: brightness(1.2);
}

#plugin-add-all .remind-pop.pop-show .pop-main {
  /* transform: scale(1); */
  animation: remindShow 0.7s linear forwards;
}

#plugin-add-all .input-type {
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  line-height: 30px;
  width: 300px;
}

@keyframes remindShow {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.9);
  }

  90% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
